<h2>Product Management</h2>

<div>
  <h3>Add New Product</h3>
  <input [(ngModel)]="newName" placeholder="Product Name" />
  <input [(ngModel)]="newPrice" placeholder="Price" type="number" />
  <button (click)="createProduct()">Create Product</button>
</div>

<hr />

<h3>All Products</h3>
<table border="1" cellspacing="0" cellpadding="5">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price ($)</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>
          {{ product.name }}
      </td>
      <td>
        {{ product.price }}
      </td>
      <td>
          <button (click)="deleteProduct(product.id!)">Delete</button>
          <button (click)="addToCart(product.id!)">Add to Cart</button>
      </td>
    </tr>
  </tbody>
</table>
